.user
    %h1 ログイン画面

    = render 'shared/flash'

    = form_with(url: login_path, scope: :session, local: true) do |f|
        = f.label :email, "メールアドレス"
        = f.email_field :email, class: 'form-control'

        = f.label :password, "パスワード"
        = f.password_field :password, class: 'form-control'

        = f.submit 'ログインする', class: 'btn btn-primary'