.main-content.user-login.user-form
    %h1 ログイン画面

    = render 'shared/flash'

    = form_with(url: login_path, scope: :session, local: true) do |f|
        .form-parts
            = f.label :email, "メールアドレス"
            = f.email_field :email, class: 'form-email-field'
            = icon('far', 'envelope')

        .form-parts
            = f.label :password, "パスワード"
            = f.password_field :password, class: 'form-password-field'
            = icon('fas', 'key', class: 'key')

        = f.submit 'ログインする', class: 'btn-gradient'