.user
    %h1 ユーザーの一覧
    %ul.jscroll
        - @users.each do |user|
            %li
                - if user.image.attached?
                    = image_tag user.image.variant(resize_to_fill: [50, 50]), alt: 'プロフィール画像'
                - else
                    = image_tag 'default-icon.png', size: '50x50', alt: 'プロフィール画像'
                = link_to user.name, user, data: { 'turbolinks' => false }
                .follow-follower-count
                    %span フォロー数
                    = link_to user.followings.count, '#'
                    %span フォロワー数
                    = link_to user.followers.count, '#'
                - if logged_in?
                    - if current_user.admin?
                        - unless user.admin?
                            |
                            = link_to '削除する', user, method: :delete, data: { confirm: '本当に削除しますか？' }

        = paginate @users
