.user
    - if @user.image.attached?
        = image_tag @user.image.variant(resize_to_fill: [50, 50]), alt: 'プロフィール画像'
    - else
        = image_tag 'default-icon.png', size: '50x50', alt: 'プロフィール画像'

    %p= @user.name

    #follow-unfollow-btn= render 'relationships/follow_unfollow_button', user: @user

    - if current_user?(@user)
        = link_to 'ユーザー情報を編集する', edit_user_path(@user)

    %ul.jscroll
        - @posts.each do |post|
            %li
                %iframe(width="560" height="315" src="https://www.youtube.com/embed/#{post.url}" frameborder="0" allow="fullscreen")
                %p= link_to post.category.name, "/users/#{@user.id}/popular-posts?category=#{post.category.id}", data: { 'turbolinks' => false }
                %p= post.content
                - if logged_in?
                    %div{ id: "like-#{post.id}" }= render 'likes/like_link', post: post
                - if current_user?(@user)
                    = link_to '削除する', post, method: :delete, data: { confirm: '本当に削除しますか？' }

        = paginate @posts

