= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload'
.user
    = render 'shared/flash'

    - if @user.image.attached?
        = image_tag @user.image.variant(resize_to_fill: [50, 50]), alt: 'プロフィール画像'
    - else
        = image_tag 'default-icon.png', size: '50x50', alt: 'プロフィール画像'

    %p= @user.name

    = link_to 'ユーザー情報を編集する', edit_user_path(@user)

    - @posts.each do |post|
        .user-post
            %p= post.title
            %p= post.content
            - if current_user?(@user)
                = link_to '削除する', post, method: :delete, data: { confirm: '本当に削除しますか？' }

    = paginate @posts
