.main-content.post-form
    %h1 投稿する

    = form_with(model: @post, local: true) do |f|
        = render 'shared/error_messages', object: f.object

        .form-parts
            = f.label :title, "タイトル（50文字以内）"
            = f.text_field :title

        .form-parts
            = f.label :category_id, "カテゴリー選択"
            = f.select :category_id, Category.all.map { |category| [category.name, category.id] }

        .form-parts
            = f.label :content, "内容（800文字以内）"
            = f.text_area :content

        = f.submit '投稿する', class: 'btn-gradient'