%header
    .parts
        %h1
            = link_to 'MOVIE_BBS', root_path, data: { 'turbolinks' => false }
        .menu-btn
            %span
            %span
            %span
    %nav
        %ul.menu
            - if logged_in?
                %li
                    = link_to 'ユーザーの一覧', users_path, data: { 'turbolinks' => false }
                %li
                    = link_to 'ログアウト', logout_path, method: :delete
            - else
                %li
                    = link_to '新規登録', new_user_path, data: { 'turbolinks' => false }
                %li
                    = link_to 'ログイン', login_path, data: { 'turbolinks' => false }